{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
<div class="col-12 col-xl-9 col-lg-10 col-md-12 mx-auto col_posts">
	{% for post in posts.items %}
	<div class="row justify-content-center">
		<div class="col-md-5 col-lg-4 col-xl-4 my-auto text-center justify-content-center">
			<div class="container_zoom">
				<div class="img-hover-zoom--zoom-n-rotate img">
					<img class="img_test" src="{{ url_for('static', filename='post_pics/' +  post.image_file)}}" alt="Post Picture">
				</div>
			</div>
		</div>
		<div class="col-12 col-md-7 col-lg-8 col-xl-6 my-auto">
			<div class="post-preview">
			  <a href="{{ url_for('posts.post', post_id=post.id) }}">
				<h2 class="post-title">
					{{ post.title }}
				</h2>
				<h3 class="post-subtitle">
					{{ post.excerpt }}
				</h3>
			  </a>
			  <p class="post-meta font-weight-normal mt-2 mt-md-0">Posted by
				<a href="{{ url_for('users.user_posts', email=post.author.email)}}">{{ post.author.username }}</a>
				on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
			</div>
		</div>
	</div>
	<hr>
	{% endfor %}
	
	<!-- Pager -->
	<div class="row justify-content-center mt-4">
  	<div class="clearfix">
		{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if posts.page == page_num %}
			<a class="btn btn-pagination_active mb-4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>
			{% else %}
			<a class="btn btn-pagination mb-4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
		{% endfor %}
	  </div>
	</div>
</div>
</div>

{% endblock content %}


	