{% extends 'layout.html' %}
{% block content %}

 <!-- Post Content -->
 <div class="col-12 col-lg-10 col-md-10 mx-auto">
 <article>
    <div class="container text-left">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto text-center text-md-left">
            {% if post.author == current_user %}
                <a class="btn btn-primary btn-sm mt-1 mb-4" href="{{ url_for('posts.update_post', post_id=post.id) }}">Udpate</a>
                <button class="btn btn-danger btn-sm mt-1 mb-4" data-toggle="modal" data-target="#deleteModal">Delete</button>
           {% endif %}
          <h2 style="font-size: 36px;" class="post-title">{{ post.title }}</h2>
          <img class="img_test mt-3 mt-md-4 mb-mt-4" src="{{url_for('static', filename='post_pics/' +  post.image_file)}}" alt="Post Picture">
          <pre class="mt-4 text-justify">{{ post.content }}</pre>
          
        </div>
      </div>
      <div class="row text-md-left text-center justify-content-center justify-content-md-left ml-md-5 mt-md-4">
        <div class="col-10 col-lg-1 col-md-2">
            <img class="rounded-circle article-img ml-md-4" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}" alt="Profile Picture" />
        </div>
        <div class="col-lg-10 col-md-10 mx-auto">
            <div class="post-preview">
                <p class="post-meta mt-3 mt-md-4 ml-md-1">Posted by
                <a href="{{url_for('users.user_posts', email=post.author.email)}}">{{ post.author.email }}</a>
                on {{ post.date_posted.strftime('%B %d, %Y') }}</p>       
            </div>
        </div>     
      </div>
    </div>
  </article>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" name="name" value="Delete" />
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
{% endblock content %}