{% extends 'layout.html' %}
{% block content %}
<div class="container">
<div class="col-12 col-md-6 justify-content-center text-center mx-auto">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <label for="form-row">
                <h2 class="post-title">Reset Password</h2>
            </label>
            <h3 class="post-subtitle font-weight-normal text-justify" style="font-size: 0.95rem;">Enter the email address associated with your account and we will send you a link to reset your password.</h3>
            <div class="form-row mt-3 mt-md-4">
                <div class="col-12 col-md-6 mx-auto">
                    <h3 class="post-subtitle font-weight-normal mt-3" style="font-size: 1.25rem;">{{ form.password.label }}</h3>
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 mx-auto">
                    <h3 class="post-subtitle font-weight-normal mt-3" style="font-size: 1.25rem;">{{ form.confirm_password.label }}</h3>
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group mt-5">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}