{% extends 'layout.html' %}
{% block content %}
		<div class="col-12 col-md-6 justify-content-center text-center mx-auto">
			<form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <label for="form-row">
                        <h2 class="post-title">Reset Password</h2>
                    </label>
                    <div class="form-row mt-3 mt-md-4">
                        <div class="col-12 col-md-8 mx-auto">
                            <h3 class="post-subtitle font-weight-normal text-justify" style="font-size: 0.95rem;">Enter the email address associated with your account and we will send you a link to reset your password.</h3>
                            <h3 class="post-subtitle font-weight-normal mt-4" style="font-size: 1.25rem;">{{ form.email.label }}</h3>
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group mt-4">
                    {{ form.submit(class="btn btn-dark") }}
                </div>
            </form>
        </div>
		
{% endblock content %}